<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.notes.sum">

    <!--For hardware key authentication, only accepts NFC while app is open and in focus-->
    <uses-permission android:name="android.permission.NFC" />

    <!--For importing and exporting notes, which can only be manually done-->
    <!--We do not read data or write data without the user manually importing or exporting data.-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="Notes"
        android:theme="@android:style/Theme.DeviceDefault">

        <!--Main UI-->
        <activity
            android:name="com.notes.sum.ActivityMain"
            android:windowSoftInputMode="adjustPan|adjustResize"
            android:configChanges="orientation|keyboardHidden|screenSize">

            <!--Define this as the main screen-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!--Allow files to be opened from filesystem directly into app-->
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="*/*" />
            </intent-filter>

            <!--Allow manual text input from another app after decrypting-->
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>

            <!--Allow NFC input as password-->
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>

        </activity>
    </application>

</manifest>
