<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.notes.sum">

    <application
        android:icon="@drawable/ic_launcher"
        android:label="Notes"
        android:theme="@android:style/Theme.DeviceDefault">

        <!--Main UI-->
        <activity
            android:name="com.notes.sum.ActivityMain"
            android:windowSoftInputMode="adjustPan|adjustResize"
            android:configChanges="orientation|keyboardHidden|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>

        <!--FileManager to enable file sharing to other apps (for cloud backup)-->
        <!--<provider-->
            <!--android:name="android.support.v4.content.FileProvider"-->
            <!--android:authorities="com.notes.sum.fileprovider"-->
            <!--android:grantUriPermissions="true"-->
            <!--android:exported="false">-->
            <!--<meta-data-->
                <!--android:name="android.support.FILE_PROVIDER_PATHS"-->
                <!--android:resource="@xml/filepaths" />-->
        <!--</provider>-->

    </application>

</manifest>
